# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# IDE specific files
.vscode/
*.code-workspace
.idea/

# OS specific files
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs/
*.log

# Local development settings
